.courses-container {
    flex: 0.7;
    padding-left: 32px;
}

.courses-title {
    color: #676767;
    font-size: 22px;
    padding-top: 8px;
    margin-bottom: 26px;
}

@media screen and (max-width: 530px) {
    .courses-container {
        flex: 1;
    }
}
