* {
    font-family: Helvetica, Arial, sans-serif;
}

html {
    background-color: #f5f5f5;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    margin: 0 0 34px;
    padding: 0 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0164b2;
}

.logo-container {
    margin: 0;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    color: #323346;
}

p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 18px;
    padding-right: 10px;
    padding-left: 10px;
}

.nav-el {
    display: flex;
    flex: 0.7;
    padding: 12px 16px;
    background-color: #ffffff;
    color: #676767;
}

.nav-el-subcontainer {
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-el-admin {
   flex: 0.3;
    width: 266px;
    padding: 12px 16px;
    color: #ffffff;
    background-color: #676767;
}

.main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-left: 10px;
}

.sidebar-container {
    flex: 0.3;
}

.title-container {
    padding: 8px 14px;
    margin-bottom: 20px;
    background-color: #d8d8d8;
}

.sidebar-nav-el-container {
    display: flex;
    align-items: center;
    padding: 14px 18px;
    margin-bottom: 10px;
    height: 72px;
    background-color: #ffffff;
}

.sidebar-nav-last-el {
    margin-bottom: 20px;
}

.sidebar-img-container {
    width: 35px;
    height: 35px;
    margin-right: 18px;
}

img {
    width: 100%;
    height: 100%;
}

.sidebar-contact-el {
    display: flex;
    flex-direction: column;
    padding: 2px 28px;
    margin-bottom: 26px;
}

.sidebar-contact-el-title,
.sidebar-contact-el-text {
    margin-bottom: 6px;
    font-size: 12px;
    color: #676767;
}

.sidebar-contact-el-title {
    font-weight: bold;
}

.sidebar-contact-el-email {
    font-size: 12px;
    color: #179ee4;
}

.courses-container {
    flex: 0.7;
    padding-left: 32px;
}

.courses-title {
    color: #676767;
    font-size: 22px;
    padding-top: 8px;
    margin-bottom: 26px;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 10px 0 34px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.course-container-details {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.course-container-details-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 44px;
}

.course-container-details-subcontainer-title {
    flex: 0.8;
    color: #676767;
    font-weight: bold;
}

.course-container-details-subcontainer-eval {
    flex: 0.1;
    padding-right: 10px;
    padding-left: 10px;
}

.course-container-details-subcontainer-eval p {
    font-size: 12px;
    padding-bottom: 10px;
    color: #676767;
}

.course-container-details-subcontainer-eval-status {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d8d8d8;
}

.status-done {
    background-color: #fddd5b;
}

@media screen and (max-width: 530px) {
    .sidebar-container {
        flex: 1;
    }

    .courses-container {
        flex: 1;
    }
}

@media  screen and (max-width: 427px){
    .nav-el {
        flex: 1;
    }

    .nav-el-admin {
        flex: 1;
    }
}

@media  screen and (max-width: 350px){
    .nav-el-subcontainer {
        min-width: 250px;
    }
}
