.small-card-container {
    display: flex;
    align-items: center;
    padding: 14px 18px;
    margin-bottom: 10px;
    height: 72px;
    background-color: #ffffff;
}

.small-card-img-container {
    width: 35px;
    height: 35px;
    margin-right: 18px;
}
